:root {
    --general-text: #312C27;
    --general-bg: #FFF9F4;
    --accent-color: #FFA55C;
    --accent-bg: #FFE0CB;
    --accent-h1: #1F1711;
}

body {
    font-family: "Montserrat", "Arial, sans-serif";
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.body--modal-opened {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header__hero {
    padding: 50px 0 140px;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}



.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}



.button {
    width: 100%;
    color: var(--general-text);
    font-weight: 500;
    line-height: 1.6;
    font-size: 16px;
    border-radius: 100px;
    background: var(--accent-color);
    display: block;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 15px;
}

.button:hover {
    background: #FF9138;
    transition: all .4s;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #00000048;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__window {
    background: var(--general-bg);
    border-radius: 25px;
    padding: 0 60px 60px;
    position: relative;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: all .4s;
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin-left: 13px;
    margin-bottom: 15px;
    margin-top: -65px;
}

.modal__title {
    color: var(--accent-h1);
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form {}

.modal__form-label {
    position: relative;
}

.modal__form-label span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-family: 'Montserrat';
    font-size: 11px;
    line-height: 1.5;
    color: #AC907A;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.modal__form-input {
    display: block;
    width: 100%;
    background: transparent;
    border-radius: 100px;
    border: 1px solid #AC907A;
    padding: 19px 41px 19px 28px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all .4s;
}

.modal__form-input:hover {
    border-color: var(--accent-color);
}

.modal__form-input::placeholder {
    color: #AC907A;
    transition: all .4s;
}

.modal__form-input:hover::placeholder {
    color: var(--accent-color);
}

.modal__form-input:focus {
    padding: 26px 41px 12px 28px;
}

.modal__form-input:focus+span {
    opacity: 1;
    visibility: visible;
}


/* ////////////////HEADER////////////////////////////////////////////// */

.header {
    background: url("../img/bg-header.png") 50% 100% / cover no-repeat;
    z-index: 0;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}


.nav {}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__item {}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;

}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;

    opacity: 0;
}

.nav__link:hover::before {
    opacity: 1;
    transition: all .4s;

}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
    transition: all .4s;
}

.burger-icon span::after {
    bottom: -8px;
    transition: all .4s;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* ///////////////////////////////////////////////// */

.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    line-height: 1.6;
    text-transform: uppercase;
    color: #B197B2;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #B197B2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.hero__info span:last-child:after {
    content: none;
}


.hero__title {
    font-family: 'Gabriola';
    color: var(--accent-h1);
    font-size: 74px;
    line-height: 0.82;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}



.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img>img {
    max-width: 100%;
}

.hero__img-control {
    display: flex;
    gap: 10px;
    position: absolute;
    align-items: center;
    max-width: 200px;
    bottom: 11%;
    left: calc(100% - 39px);
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    height: 78px;
    width: 78px;
    background: var(--accent-bg);
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    border-radius: 68px;
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.30);
    inset: 5px;
    opacity: 0;
}


.hero__img-button:hover::before {
    opacity: 1;
    transition: all .4s;
}

/* ............................................ */
.about {}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 53px;
}

.about__img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.about__img-control {
    position: absolute;
    display: flex;
    gap: 10px;
    position: absolute;
    align-items: center;
    max-width: 320px;
    bottom: 4.7%;
    left: 5%;
    text-align: left;
    border-radius: 20px;
    background: #957b97e6;
    padding: 15px 20px;
    color: var(--general-bg)
}

.about__img-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    height: 78px;
    width: 78px;
    background: var(--general-bg);
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    border-radius: 68px;
    border: 1px solid #CEAAD0;
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.30);
    inset: 5px;
    opacity: 0;
}

.about__img-button:hover::before {
    opacity: 1;
}


.about__body {}

.about__heading {}

.about__title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-h1)
}

.about__title-text {
    margin-bottom: 30px;
}

.about__text {
    margin-bottom: 40px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr)
}

.about__grid-item {
    padding: 29px 24px;
    border-radius: 20px;
    background: var(--accent-bg);
    display: flex;
    gap: 15px;
    align-items: center
}

.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__grid-text {}




/* ............................... */
















.footer {
    background: #AB8261;
    padding: 60px 0 66px;
    color: var(--general-bg)
}

.footer__inner {
    display: grid;
    gap: 40px 30px;
    justify-content: space-between;
    grid-template-columns: 1fr 1.1fr 1.1fr auto;
}


.footer__col:first-child {
    margin-top: -30px;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    display: block;
    padding: 5px 0 5px;
    position: relative;
    z-index: 1;
}


.footer__col-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;

    opacity: 0;
}

.footer__col-link:hover::before {
    opacity: 1;
    transition: all .4s;
}

.footer__contact-list {}

.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0px;
}


.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-num {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    text-transform: uppercase;
    transition: all .4s;
}

.footer__col-num:hover {
    color: var(--accent-color)
}


.footer__col-copy {
    color: #DEC5B1;
}

.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.socials__item {}

.socials__link {}

/* /* ///////////////////////////////////////////////////////////////////////// /////////////////////////////////////////////////////////////////  */

@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* //////////////// */

    .footer__inner {
        justify-content: space-between;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* //////////////////////// */

    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }
}

@media (max-width: 800px) {
    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .header__hero {
        padding-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }
}